<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/start.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <title>Start Stream</title>
  </head>
  <body>
    <div th:insert="~{fragments/header::header}"></div>

    <div class="start__streamk" th:text="${streamKey}"></div>

    <div th:insert="~{fragments/footer::footer}"></div>
  </body>
</html>
