<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Please Register</title>
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
  </head>
  <body>
    <!-- ~{<template-name>::<fragment-name>} -->
    <div th:insert="~{fragments/header::header}"></div>

    <div class="register__container">
      <form
        class="register__input__container"
        method="post"
        th:action="@{/register}"
        th:object="${user}"
      >
        <div class="register__warning" th:if="${existsEmail} == true">
          User associated with this email already exists!
        </div>

        <div>Please Register</div>

        <input
          class="register__input"
          id="name"
          placeholder="Enter Name"
          required
          type="text"
          th:field="*{name}"
        />
        <input
          class="register__input"
          id="email"
          placeholder="Enter Email"
          required
          type="text"
          th:field="*{email}"
        />
        <input
          class="register__input"
          id="password"
          placeholder="Enter Password"
          required
          type="password"
          th:field="*{password}"
        />
        <input
          class="register__input"
          id="role"
          placeholder="Enter Role"
          required
          type="text"
          th:field="*{roles}"
        />
        <input class="register__button" type="submit" value="Register" />
      </form>
    </div>

    <div th:insert="~{fragments/footer::footer}"></div>
  </body>
</html>
